body {
    background-color: maroon;
}
.css-intro-image {
    width: 100%;
}
.css-intro-headline {
    color: plum;
}
.unordered-list-words {
color: white;
}
.ordered-list-words {
    color: white;
}
header {
    background-color: wheat;
}
.css-intro-button {
    background-color: mediumaquamarine;
    font-size: 30px;
    color: white;
}
.css-intro-button:hover {
    background-color: darkcyan;
}
    